@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    var currentUrl = @Context.Request.Path;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="The PrivacyOneStop Blog keeps you up to speed with the most relevant news and topics from the data privacy world." />
    <title>@ViewData["Title"] - PrivacyOneStop</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>


    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.15/dist/summernote.min.css" rel="stylesheet">

    <link href="~/css/styles.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/css/datatable.css">
    <link type="text/css" href="~/css/datatable-checkbox.css" rel="stylesheet" />

    @*<script type="text/javascript">
        var _iub = _iub || [];
        _iub.csConfiguration = { "cookiePolicyInOtherWindow": true, "consentOnContinuedBrowsing": false, "whitelabel": false, "lang": "en", "siteId": 1968268, "cookiePolicyId": 94171325, "cookiePolicyUrl": "https://privacyonestop.com/Home/Privacy", "banner": { "acceptButtonDisplay": true, "acceptButtonColor": "#92278f", "acceptButtonCaptionColor": "white", "rejectButtonColor": "#0073CE", "rejectButtonCaptionColor": "white", "position": "float-top-center", "textColor": "black", "backgroundColor": "white", "cookiePolicyLinkCaption": "privacy policy", "content": "This website uses cookies. These cookies are necessary for the website to function properly and to provide you with the requested service. Read our %{cookie_policy_link} for more information on how we use cookies." } };
    </script>*@
    <script type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/datatable/datatable.js"></script>
    <script type="text/javascript" src="~/lib/datatable/datatable-checkbox.min.js"></script>
    <script type="text/javascript" src="~/js/notify.js"></script>

</head>
<body style="height: auto">
    <input type="hidden" value="http://privacyonestop.com/" id="backPage"/>
    @if (!currentUrl.ToString().Contains("Admin"))
    {
    <header style="position: initial">

        <div class="top-menu">
            <ul class="left-area welcome-area search-welcome-area" style="display: flex">
                <li class="hello-blog">Welcome to your PrivacyOneStop</li>
                <li class="left-area src-area" style="float:left">
                    <form action="/Blog/Search">
                        <input class="src-input" name="searchTerm" type="text" placeholder="Search" id="searchPostsInput">
                        <button class="src-btn" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </form>

                </li>
            </ul>

            <div class="right-area">
                <partial name="_LoginPartial" />
            </div>
        </div>

        <div class="middle-menu center-text" style="height: 40px; margin-top: -40px; padding-bottom: 150px;">
            <a href="/Home/Index" class="logo">
                <img src="~/img/logo2.png" alt="Logo Image">
            </a>
        </div>
        <nav class="bottom-area navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1" style="display: block">
                        <li class="nav-item" style="margin-right: 10px;">
                            <a class="nav-link" href="/Home/Index" style="font-size: 20px; color: white">Home</a>
                        </li>
                        <li class="nav-item" style="margin-left: 10px;">
                            <a class="nav-link" href="/Home/About" style="font-size: 20px; color: white">About</a>
                        </li>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="/Admin/e3NHA57XCuMk7S2TnumF38Dy6k6P2hQh9urjzYyVNMpegujKy2" style="font-size: 20px; color: white">Admin Page</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    }
    else
    {
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
                <div class="container">
                    <a href="/Home/Index" class="col-md-2"><img src="~/img/logo2.png" style="height: 100%;" alt="Logo Image"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <partial name="_LoginPartial" />
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/Home/Index" style="font-size: 20px">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/Home/About" style="font-size: 20px">About</a>
                            </li>
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="/Admin/e3NHA57XCuMk7S2TnumF38Dy6k6P2hQh9urjzYyVNMpegujKy2" style="font-size: 20px">Admin Page</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    }
    <partial name="_CookieConsentPartial" />
        @RenderBody()

<footer style="bottom: -25%">
    <div class="container" style="padding-bottom: 5px">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="footer-section" style="margin-bottom: 0px">
                    <p class="copyright text-center">PrivacyOneStop&copy; @DateTime.Now.Year. All rights reserved. </p>
                </div><!-- footer-section -->
            </div><!-- col-lg-4 col-md-6 -->

            <div class="col-sm-12 text-center">
                <div class="footer-section">
                    <div class="social-icons text-center" style="margin-left: 30px;">
                        <a href="https://linkedin.com/company/privacyonestop" target="_blank">
                            <img src="~/img/icons/linkedin.png" style="width: 32px;padding-right: 10px" />
                        </a>
                        <a href="https://twitter.com/PrivacyOneStop" target="_blank">
                            <img src="~/img/icons/twitter.png" style="width: 32px;padding-right: 10px" />
                        </a>
                    </div>
                </div><!-- footer-section -->
            </div><!-- col-lg-4 col-md-6 -->
        </div><!-- row -->
        <div class="row" style="margin-top: -10px;margin-bottom: 20px;">
            <div class="col-md-12 text-center">
                <a href="/Home/Terms" style="color: white; padding-right: 5px">Terms & Conditions</a> |
                <a href="/Home/Privacy" style="color: white;padding-left: 5px">Privacy Policy</a>
            </div>
        </div>
    </div><!-- container -->
</footer>

    <environment include="Development">
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>

    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.15/dist/summernote.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/js/tether.min.js"></script>
    <script src="~/js/layerslider.js"></script>
    <script src="~/js/scripts.js"></script>
    <script src="~/js/custom/admin.js"></script>

    @RenderSection("Scripts", required: false)

    <script>
        $(document).ready(function () {
            $('#bodyInput').summernote();
            $(".panel-heading button").css("padding", "15px");

            $('.carousel').carousel({
                interval: 4000
            })
        });
    </script>

    <!-- Modal -->
    <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="successModalTitle">Status</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <label class="text-success" id="statusLabel"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>