@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    var currentUrl = @Context.Request.Path;

    string position = "";

    if(Context.Request.Path.HasValue && (Context.Request.Path.Value == "/" || Context.Request.Path.Value == "/Home/Index" || Context.Request.Path.Value == "/Blog/Post"))
    {
        position = "position: initial;";

    }
    else
    {
        position = "position: absolute;";
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Administration Assistant</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>


    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.15/dist/summernote.min.css" rel="stylesheet">


    <!-- Stylesheets -->

    <link href="~/css/layerslider.css" rel="stylesheet">
    <link href="~/css/styles.css" rel="stylesheet">
    <link href="~/css/responsive.css" rel="stylesheet">
    <link href="~/css/main.css" rel="stylesheet" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>

    <link type="text/css" href="//gyrocode.github.io/jquery-datatables-checkboxes/1.2.11/css/dataTables.checkboxes.css" rel="stylesheet" />
    <script type="text/javascript" src="//gyrocode.github.io/jquery-datatables-checkboxes/1.2.11/js/dataTables.checkboxes.min.js"></script>

</head>
<body style="height: auto">
    @if (!currentUrl.ToString().Contains("Admin"))
    {
        <header style="position: initial">

            <div class="top-menu">

                <ul class="left-area welcome-area">
                    <li class="hello-blog">Hello nice people, welcome to my blog</li>
                    <li><a href="mailto:test@gmail.com">test@gmail.com</a></li>
                </ul><!-- left-area -->


                <div class="src-area">
                    <form action="post">
                        <input class="src-input" type="text" placeholder="Search">
                        <button class="src-btn" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </form>

                </div><!-- src-area -->

                <div class="right-area">
                    <partial name="_LoginPartial" />
                </div>
            </div><!-- top-menu -->

            <div class="middle-menu center-text"><a href="#" class="logo"><img src="~/img/logo.png" alt="Logo Image"></a></div>

            <div class="bottom-area">
                <ul class="main-menu visible-on-click" id="main-menu">
                    <li class="drop-down">
                        <a href="/Home/Index">Home</a>
                    </li>
                    <li class="drop-down">
                        <a href="/Home/About">About</a>
                    </li>
                    <li class="drop-down">
                        <a href="/Home/Contact">Contact</a>
                    </li>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li class="drop-down">
                            <a href="/Admin/Index">Admin Page</a>
                        </li>
                    }
                </ul><!-- main-menu -->
            </div><!-- conatiner -->
        </header>
    }
    else
    {
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-page="/Index">AdminAssistant.Blog</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <partial name="_LoginPartial" />
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/Blog/Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/Home/About">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/Home/Contact">Contact</a>
                            </li>
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Admin/Index">Admin Page</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    }
    <partial name="_CookieConsentPartial" />
    <main role="main" class="pb-3" style="min-height: 465px;">
        @RenderBody()
    </main>

    <footer style="@position">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="footer-section">
                        <p class="copyright">&copy; @DateTime.Now.Year. All rights reserved. | Made with by <a href="https://www.linkedin.com/in/stefan-djokic-2a72b3151/" target="_blank">TheCodeMan</a></p>
        </div><!-- footer-section -->
        </div><!-- col-lg-4 col-md-6 -->

        <div class="col-sm-6">
            <div class="footer-section">
                <div class="social-icons">
                    <img src="~/img/icons/facebook.png" style="width: 32px; padding-right: 10px"/>
                    <img src="~/img/icons/instagram.png" style="width: 32px;padding-right: 10px" />
                    <img src="~/img/icons/linkedin.png" style="width: 32px;padding-right: 10px"/>
                    <img src="~/img/icons/twitter.png" style="width: 32px;padding-right: 10px"/>
                </div>
            </div><!-- footer-section -->
        </div><!-- col-lg-4 col-md-6 -->
        </div><!-- row -->
        </div><!-- container -->
    </footer>

    <environment include="Development">
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>

    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.15/dist/summernote.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/js/tether.min.js"></script>
    <script src="~/js/layerslider.js"></script>
    <script src="~/js/scripts.js"></script>
    <script src="~/js/custom/admin.js"></script>

    @RenderSection("Scripts", required: false)

    <script>
        $(document).ready(function () {
            $('#bodyInput').summernote();
            $(".panel-heading button").css("padding", "15px");
        });
    </script>
</body>
</html>
