@using AdminAssistant.Blog.Models.DomainModel
@model PostViewModel

<section class="blog-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="blog-posts">
                    <div class="single-post" style="margin-top: 30px">
                        @if (!string.IsNullOrEmpty(Model.PictureUrl))
                        {
                            <div class="image-wrapper"><img src="@Model.PictureUrl" alt="Blog Image"></div>
                        }
                        <div class="icons">
                            <div class="left-area">
                                @foreach (var category in Model.Categories)
                                {
                                    <a class="btn caegory-btn" href="#"><b>@category.Name</b></a>
                                }
                            </div>
                            @*<ul class="right-area social-icons">
                                    <li><a href="#"><i class="ion-android-share-alt"></i>Share</a></li>
                                    <li><a href="#"><i class="ion-android-favorite-outline"></i>03</a></li>
                                    <li><a href="#"><i class="ion-android-textsms"></i>06</a></li>
                                </ul>*@
                        </div>
                        <p class="date"><em>@Model.Date</em></p>
                        <h3 class="title"><a href="#"><b class="light-color">@Model.Title</b></a></h3>
                        @Html.Raw(Model.Body)

                        <ul style="margin-top: 30px;">
                            @foreach (var tag in Model.Tags)
                            {
                                <li><a class="btn" href="#">@tag.Name</a></li>
                            }
                        </ul>
                    </div><!-- single-post -->

                </div><!-- blog-posts -->
            </div><!-- col-lg-4 -->


            <div class="col-lg-4 col-md-12">
                <div class="sidebar-area">

                    <!--
    <div class="sidebar-section about-author center-text">
        <div class="author-image"><img src="~/img/man.jpg" alt="Autohr Image"></div>

        <ul class="social-icons">
            <li><a href="#"><i class="ion-social-facebook-outline"></i></a></li>
            <li><a href="#"><i class="ion-social-twitter-outline"></i></a></li>
            <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
            <li><a href="#"><i class="ion-social-vimeo-outline"></i></a></li>
            <li><a href="#"><i class="ion-social-pinterest-outline"></i></a></li>
        </ul><!-- right-area -->
                    <!--  <h4 class="author-name"><b class="light-color">Cristine Smith</b></h4>
        <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
            dolore magnam aliquam quaerat voluptatem.
        </p>

        <div class="signature-image"><img src="images/signature-image.png" alt="Signature Image"></div>
        <a class="read-more-link" href="#"><b>READ MORE</b></a>

    </div>-->
                    <!-- sidebar-section about-author -->

                    @await Component.InvokeAsync("Newsletter")
                    @await Component.InvokeAsync("LatestPost")
                    @await Component.InvokeAsync("Category")
                    @await Component.InvokeAsync("Tag")


                </div><!-- about-author -->
            </div><!-- col-lg-4 -->

        </div><!-- row -->
    </div><!-- container -->
</section><!-- section -->