@using AdminAssistant.Blog.Models.DomainModel
@model PostViewModel


<section class="blog-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="blog-posts">
                    <div class="single-post">
                    @if (!string.IsNullOrEmpty(Model.PictureUrl))
                    {
                        <div class="image-wrapper"><img src="@Model.PictureUrl" alt="Blog Image"></div>
                    }
                        <div class="icons">
                            <div class="left-area">
                                @foreach (var category in Model.Categories)
                                {
                                    <a class="btn caegory-btn" href="#"><b>@category.Name</b></a>
                                }
                            </div>
                            <ul class="right-area social-icons">
                                <li><a href="#"><i class="ion-android-share-alt"></i>Share</a></li>
                                <li><a href="#"><i class="ion-android-favorite-outline"></i>03</a></li>
                                <li><a href="#"><i class="ion-android-textsms"></i>06</a></li>
                            </ul>
                        </div>
                        <p class="date"><em>@Model.Date</em></p>
                        <h3 class="title"><a href="#"><b class="light-color">@Model.Title</b></a></h3>
                        <p class="desc">
                           @Model.Body
                        </p>

                        <ul>
                            @foreach (var tag in Model.Tags)
                            {
                                <li><a class="btn" href="#">@tag.Name</a></li>
                            }
                        </ul>

                    </div><!-- single-post -->

                </div><!-- blog-posts -->
            </div><!-- col-lg-4 -->


            <div class="col-lg-4 col-md-12">
                <div class="sidebar-area">

                    <div class="sidebar-section about-author center-text">
                        <div class="author-image"><img src="~/img/man.jpg" alt="Autohr Image"></div>

                        <ul class="social-icons">
                            <li><a href="#"><i class="ion-social-facebook-outline"></i></a></li>
                            <li><a href="#"><i class="ion-social-twitter-outline"></i></a></li>
                            <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                            <li><a href="#"><i class="ion-social-vimeo-outline"></i></a></li>
                            <li><a href="#"><i class="ion-social-pinterest-outline"></i></a></li>
                        </ul><!-- right-area -->

                        <h4 class="author-name"><b class="light-color">Cristine Smith</b></h4>
                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                            dolore magnam aliquam quaerat voluptatem.
                        </p>

                        <div class="signature-image"><img src="images/signature-image.png" alt="Signature Image"></div>
                        <a class="read-more-link" href="#"><b>READ MORE</b></a>

                    </div><!-- sidebar-section about-author -->

                    <div class="sidebar-section src-area">

                        <form action="post">
                            <input class="src-input" type="text" placeholder="Search">
                            <button class="src-btn" type="submit"><i class="ion-ios-search-strong"></i></button>
                        </form>

                    </div><!-- sidebar-section src-area -->

                    <div class="sidebar-section newsletter-area">
                        <h5 class="title"><b>Subscribe to our newsletter</b></h5>
                        <form action="post">
                            <input class="email-input" type="text" placeholder="Your email here">
                            <button class="btn btn-2" type="submit">SUBSCRIBE</button>
                        </form>
                    </div><!-- sidebar-section newsletter-area -->

                    <div class="sidebar-section category-area">
                        <h4 class="title"><b class="light-color">Categories</b></h4>
                        <a class="category" href="#">
                            <img src="images/category-1-400x150.jpg" alt="Category Image">
                            <h6 class="name">TRAVEL</h6>
                        </a>

                        <a class="category" href="#">
                            <img src="images/category-2-400x150.jpg" alt="Category Image">
                            <h6 class="name">FASHION</h6>
                        </a>

                        <a class="category" href="#">
                            <img src="images/category-3-400x150.jpg" alt="Category Image">
                            <h6 class="name">LIFESTYLE</h6>
                        </a>
                        <a class="category" href="#">
                            <img src="images/category-4-400x150.jpg" alt="Category Image">
                            <h6 class="name">DESIGN</h6>
                        </a>
                    </div><!-- sidebar-section category-area -->

                    <div class="sidebar-section latest-post-area">
                        <h4 class="title"><b class="light-color">Latest Posts</b></h4>

                        <div class="latest-post" href="#">
                            <div class="l-post-image"><img src="images/recent-post-1-150x200.jpg" alt="Category Image"></div>
                            <div class="post-info">
                                <a class="btn category-btn" href="#">TRAVEL</a>
                                <h5><a href="#"><b class="light-color">One more night in the clubs</b></a></h5>
                                <h6 class="date"><em>Monday, October 13, 2017</em></h6>
                            </div>
                        </div>

                        <div class="latest-post" href="#">
                            <div class="l-post-image"><img src="images/recent-post-2-150x200.jpg" alt="Category Image"></div>
                            <div class="post-info">
                                <a class="btn category-btn" href="#">TRAVEL</a>
                                <h5><a href="#"><b class="light-color">Travel lights in winter</b></a></h5>
                                <h6 class="date"><em>Monday, October 13, 2017</em></h6>
                            </div>
                        </div>
                        <div class="latest-post" href="#">
                            <div class="l-post-image"><img src="images/recent-post-3-150x200.jpg" alt="Category Image"></div>
                            <div class="post-info">
                                <a class="btn category-btn" href="#">TRAVEL</a>
                                <h5><a href="#"><b class="light-color">How to travel with no money</b></a></h5>
                                <h6 class="date"><em>Monday, October 13, 2017</em></h6>
                            </div>
                        </div>

                        <div class="latest-post" href="#">
                            <div class="l-post-image"><img src="images/recent-post-4-150x200.jpg" alt="Category Image"></div>
                            <div class="post-info">
                                <a class="btn category-btn" href="#">TRAVEL</a>
                                <h5><a href="#"><b class="light-color">Smile 10 times a day</b></a></h5>
                                <h6 class="date"><em>Monday, October 13, 2017</em></h6>
                            </div>
                        </div>

                    </div><!-- sidebar-section latest-post-area -->

                    <div class="sidebar-section advertisement-area">
                        <h4 class="title"><b class="light-color">Advertisement</b></h4>
                        <a class="advertisement-img" href="#">
                            <img src="images/advertise-1-400x500.jpg" alt="Advertisement Image">
                            <h6 class="btn btn-2 discover-btn">DISCOVER</h6>
                        </a>
                    </div><!-- sidebar-section advertisement-area -->

                    <div class="sidebar-section instagram-area">
                        <h4 class="title"><b class="light-color">Instagram</b></h4>
                        <ul class="instagram-img">
                            <li><a href="#"><img src="images/instragram-side-1-150x150.jpg" alt="Instagram Image"></a></li>
                            <li><a href="#"><img src="images/instragram-side-2-150x150.jpg" alt="Instagram Image"></a></li>
                            <li><a href="#"><img src="images/instragram-side-3-150x150.jpg" alt="Instagram Image"></a></li>
                            <div class="clearfix"></div>
                            <li><a href="#"><img src="images/instragram-side-4-150x150.jpg" alt="Instagram Image"></a></li>
                            <li><a href="#"><img src="images/instragram-side-5-150x150.jpg" alt="Instagram Image"></a></li>
                            <li><a href="#"><img src="images/instragram-side-6-150x150.jpg" alt="Instagram Image"></a></li>
                        </ul>
                    </div><!-- sidebar-section instagram-area -->

                    <div class="sidebar-section tags-area">
                        <h4 class="title"><b class="light-color">Tags</b></h4>
                        <ul class="tags">
                            <li><a class="btn" href="#">design</a></li>
                            <li><a class="btn" href="#">fasinon</a></li>
                            <li><a class="btn" href="#">travel</a></li>
                            <li><a class="btn" href="#">music</a></li>
                            <li><a class="btn" href="#">video</a></li>
                            <li><a class="btn" href="#">photography</a></li>
                            <li><a class="btn" href="#">adventure</a></li>
                        </ul>
                    </div><!-- sidebar-section tags-area -->


                </div><!-- about-author -->
            </div><!-- col-lg-4 -->

        </div><!-- row -->
    </div><!-- container -->
</section><!-- section -->