@using AdminAssistant.Blog.Models.DomainModel

@model List<PostViewModel>
@{
    ViewData["Title"] = "PostByCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-1" style="background: linear-gradient(90deg, rgba(174,39,95,1) 0%, rgba(92,45,145,1) 70%); color: white">
                </div>
                <div class="carousel-inner col-md-10" style="display: flex;padding-right: 0px;padding-left: 0px;">
                    <div class="carousel-item active max-height">
                        <img src="~/img/slider/1.webp" alt="First slide" class="img-carousel">
                    </div>
                    <div class="carousel-item max-height">
                        <img src="~/img/slider/2.webp" alt="Second slide" class="img-carousel">
                    </div>
                    <div class="carousel-item max-height">
                        <img src="~/img/slider/3.svg" alt="Third slide" class="img-carousel">
                    </div>
                </div>
                <div class="col-md-1" style="background: linear-gradient(90deg, rgba(174,39,95,1) 0%, rgba(92,45,145,1) 70%); color: white">
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

<section class="section blog-area">
    <div class="container section-container">
        <div class="row">

            <div class="col-lg-8 col-md-12">

                <div class="blog-posts">
                    @if (Model != null && Model.Count > 0)
                    {
                        foreach (var post in Model)
                        {
                            <div class="single-post">
                                @if (!string.IsNullOrEmpty(post.PictureUrl))
                                {
                                    <div class="image-wrapper"><img src="@post.PictureUrl" alt="@post.Title"></div>

                                    <div class="icons">
                                        <div class="left-area">
                                            <p class="date"><em>@post.Date.ToString("dd/MM/yyy")</em></p>
                                        </div>
                                        <ul class="right-area">
                                            @foreach (var category in post.Categories)
                                            {
                                                <a href="/Blog/PostByCategory?category=@category.Id" target="_blank" class="btn btn-sm btn-primary" style="margin-bottom: 10px;">@category.Name</a>
                                            }
                                        </ul>
                                    </div>
                                    <hr />

                                    <h3 class="title"><a href="/Blog/Post?title=@post.TitleFormated"><b class="light-color">@post.Title</b></a></h3>
                                }
                                else
                                {
                                    <h3 class="title"><a href="/Blog/Post?title=@post.TitleFormated"><b class="light-color">@post.Title</b></a></h3>
                                    <div class="icons">
                                        <div class="left-area">
                                            <p class="date"><em>@post.Date.ToString("dd/MM/yyy")</em></p>
                                        </div>
                                        <ul class="right-area">
                                            @foreach (var category in post.Categories)
                                            {
                                                <a href="/Blog/PostByCategory?category=@category.Id" target="_blank" class="btn btn-sm btn-primary" style="margin-bottom: 10px;">@category.Name</a>
                                            }
                                        </ul>
                                    </div>
                                    <hr />
                                }

                                <p style="margin-top:20px;">@post.Intro</p>
                                <br />
                                <a class="btn btn-sm read-more-btn btn-primary" href="/Blog/Post?title=@post.TitleFormated"><b>Continue Reading</b></a>

                                <button id="copyLink" class="btn btn-sm btn-dark" onclick="Admin.copyLink('@post.Id')">Copy Link</button>
                                <input type="hidden" value="@($"{Context.Request.Scheme}://{Context.Request.Host}")/Blog/Post?title=@post.TitleFormated" id="copyLinkValue_@post.Id" />
                                <div class="icons">
                                    <div class="left-area">
                                        <h5>Tags</h5>
                                        @foreach (var tag in post.Tags)
                                        {
                                    <a href="/Blog/PostByTag?tag=@tag.Id" style="margin-right: 5px;"><b style="color: rgba(92,45,145,1)">#@tag.Name</b></a>
                                        }
                                    </div>
                                </div>
                            </div><!-- single-post -->
                        }
                    }
                    else
                    {
                        <h2>There are currently no posts to display.</h2>
                    }
                </div><!-- row -->
            </div><!-- blog-posts -->


            <div class="col-lg-4 col-md-12">
                <div class="sidebar-area">
                    @await Component.InvokeAsync("Newsletter")
                    @await Component.InvokeAsync("LatestPost", new { category = "Article" })
                    @await Component.InvokeAsync("LatestPost", new { category = "News" })
                    @await Component.InvokeAsync("Category")
                    @await Component.InvokeAsync("Tag")
                </div><!-- about-author -->
            </div><!-- col-lg-4 -->

        </div><!-- row -->
    </div><!-- container -->
</section><!-- section -->

<style>
    .single-post {
        border: 2px inset rgba(92,45,145,1);
        border-radius: 40px 40px 40px 40px;
        padding: 30px;
    }

    .isDisabled {
        cursor: not-allowed;
        opacity: 0.5;
    }

        .isDisabled > a {
            color: currentColor;
            display: inline-block; /* For IE11/ MS Edge bug */
            pointer-events: none;
            text-decoration: none;
        }
</style>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('html, body').animate({
                scrollTop: $(".blog-area").offset().top
            }, 1000);

            $("#backPage").val(window.location.href);
        })
    </script>
}