@using AdminAssistant.Blog.Models.DomainModel

@model List<PostViewModel>
@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-slider" style="margin: 0px;">
    <div id="slider">

        <div class="ls-slide" data-ls="bgsize:cover; bgposition:50% 50%; duration:4000; transition2d:104; kenburnsscale:1.00;">
            <img src="~/img/slider/1.jpg" class="ls-bg" alt="" />
        </div><!-- ls-slide -->

        <div class="ls-slide" data-ls="bgsize:cover; bgposition:50% 50%; duration:4000; transition2d:104; kenburnsscale:1.00;">
            <img src="~/img/slider/2.jpg" class="ls-bg" alt="" />
        </div><!-- ls-slide -->

        <div class="ls-slide" data-ls="bgsize:cover; bgposition:50% 50%; duration:4000; transition2d:104; kenburnsscale:1.00;">
            <img src="~/img/slider/3.png" class="ls-bg" alt="" />
        </div><!-- ls-slide -->

        <div class="ls-slide" data-ls="bgsize:cover; bgposition:50% 50%; duration:4000; transition2d:104; kenburnsscale:1.00;">
            <img src="~/img/slider/4.png" class="ls-bg" alt="" />
        </div><!-- ls-slide -->

        <div class="ls-slide" data-ls="bgsize:cover; bgposition:50% 50%; duration:4000; transition2d:104; kenburnsscale:1.00;">
            <img src="~/img/slider/5.png" class="ls-bg" alt="" />
        </div><!-- ls-slide -->

    </div><!-- slider -->
</div><!-- main-slider -->


<section class="section blog-area">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-md-12">

                <div class="blog-posts">
                    @if (Model != null && Model.Count > 0)
                    {
                        foreach (var post in Model)
                        {
                            <div class="single-post">
                                @if (!string.IsNullOrEmpty(post.PictureUrl))
                                {
                                    <div class="image-wrapper"><img src="@post.PictureUrl" alt="@post.Title"></div>

                                    <div class="icons">
                                        <div class="left-area">
                                            <p class="date"><em>@post.Date.ToString("dd/MM/yyy")</em></p>
                                        </div>
                                        <ul class="right-area">
                                            @foreach (var category in post.Categories)
                                            {
                                                <a href="/Blog/PostByCategory?category=@category.Id" target="_blank" class="btn btn-sm btn-primary" style="margin-bottom: 10px;">@category.Name</a>
                                            }
                                        </ul>
                                    </div>
                                    <hr />

                                    <button id="copyLink" class="btn btn-sm btn-dark" onclick="Admin.copyLink('@post.Id')">Copy Link</button>
                                    <input type="hidden" value="@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")/Blog/Post?id=@post.Id" id="copyLinkValue_@post.Id" />

                                    <h3 class="title"><a href="/Blog/Post?id=@post.Id"><b class="light-color">@post.Title</b></a></h3>
                                }
                                else
                                {
                                    <h3 class="title"><a href="/Blog/Post?id=@post.Id"><b class="light-color">@post.Title</b></a></h3>
                                    <div class="icons">
                                        <div class="left-area">
                                            <p class="date"><em>@post.Date.ToString("dd/MM/yyy")</em></p>
                                        </div>
                                        <ul class="right-area">
                                            @foreach (var category in post.Categories)
                                            {
                                                <a href="/Blog/PostByCategory?category=@category.Id" target="_blank" class="btn btn-sm btn-primary" style="margin-bottom: 10px;">@category.Name</a>
                                            }
                                        </ul>
                                    </div>
                                    <hr />
                                }

                                <p style="margin-top:20px;">@post.Intro</p>
                                <br />
                                <a class="btn btn-sm read-more-btn btn-primary" href="/Blog/Post?id=@post.Id"><b>Continue Reading</b></a>
                                <div class="icons">
                                    <div class="left-area">
                                        <h5>Tags</h5>
                                        @foreach (var tag in post.Tags)
                                        {
                                            <a href="#" style="margin-right: 5px;"><b style="color: rgba(92,45,145,1)">#@tag.Name</b></a>
                                        }
                                    </div>
                                </div>
                                <button id="copyLink" class="btn btn-sm btn-dark" onclick="Admin.copyLink('@post.Id')">Copy Link</button>
                                <input type="hidden" value="@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")/Blog/Post?id=@post.Id" id="copyLinkValue_@post.Id" />
                            </div><!-- single-post -->
                        }
                    }
                    else
                    {
                        <h2>There are currently no posts to display.</h2>
                    }
                </div><!-- row -->
            </div><!-- blog-posts -->


            <div class="col-lg-4 col-md-12">
                <div class="sidebar-area">
                    @await Component.InvokeAsync("Newsletter")
                    @await Component.InvokeAsync("LatestPost", new { category = "Article" })
                    @await Component.InvokeAsync("LatestPost", new { category = "News" })
                    @await Component.InvokeAsync("Category")
                    @await Component.InvokeAsync("Tag")
                </div><!-- about-author -->
            </div><!-- col-lg-4 -->

        </div><!-- row -->
    </div><!-- container -->
</section><!-- section -->

<style>
    .single-post {
        border: 2px inset rgba(92,45,145,1);
        border-radius: 40px 40px 40px 40px;
        padding: 30px;
    }
</style>